<h2>User info</h2>
<%= image_tag @user.get_profile_image(200,200) %>
<table>
    <tbody>
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    </tbody>
  </table>
<%= link_to "プロフィール編集", "/users/#{@user.id}/edit" %>